<div class="main-slider">
    <div class="main-text">
        <h1 class="centered">Say hello to pyschobiotics...</h1>
        <h2 class="centered">...and say goodbye to big pharma</h2>
        <div class="button-area centered">
            <a href="#" class="button button-green"><i class="icon">&#128077;</i>Get Started</a>
            <a href="#" class="button button-pink"><i class="icon">&#59140;</i>Learn More</a>
        </div>

    </div>
    <div class="shadow"></div>
    <div class="pills">
        <div class="pill">
            <div class="pill-slit"></div>
        </div>
    </div>

</div>

<script>
    $(function() {
       PSYBIO.ui.createHomepagePills({
           'pillClass':'pill',
           'slitClass': 'pill-slit',
           'wrapperClass':'pills'
       })
    });
</script>